<%- include('partials/header.ejs') %>

<body id="page-top">
    <div id="wrapper">
        <%- include('partials/sidebar.ejs') %> 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <%- include('partials/navbar.ejs') %> 
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Welcome to Dashboard</h1>
                </div>
            </div>
            <%- include('partials/footer.ejs') %> 
        </div>
    </div>
    <%- include('partials/bottom.ejs') %> 
</body>

</html>